@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') */

body {
  background-color: #1e1e1e;
}

@font-face {
  font-family: 'montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'switzer';
  src: url('./fonts/Switzer-Regular.ttf');
}

/* Tailwind for the mobile dropdown */
.sm\\:hidden {
  display: none;
} /* Hide hamburger icon on desktop */
.sm\\:flex {
  display: flex;
} /* Flexbox for desktop menu */
.absolute {
  position: absolute;
}
.bg-white {
  background-color: white;
}
.block {
  display: block;
}
.hidden {
  display: none;
}
.transition-all {
  transition: all 0.3s ease;
}

.hamburger-icon {
  transition: transform 0.3s ease-in-out;
}

.hamburger-icon.open {
  transform: rotate(45deg);
}

.hamburger-icon.open div:nth-child(1) {
  transform: rotate(90deg);
  margin-bottom: 0;
}

.hamburger-icon.open div:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open div:nth-child(3) {
  transform: rotate(-90deg);
  margin-top: 0;
}
